*
{
    z-index: 0;
}

/* Selecao em laranja */
::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection { background: #f16529; color: #fff; text-shadow: none; }

body
{
    background-image: url('/static/images/noise.png');
    padding: 7%;
}

header
{
    padding: 0 0 2em 0;
}

header h1
{
	color: #dfa229;
	font-size: 380%;
	text-align: center;
	border-bottom: 1px solid #dfa229;
}

header h4
{
	color: #F47D31;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 5.5em;
    left: -5em;
    text-align: center;
    padding: 0.4em 7em 0.4em 5.5em;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);

    -webkit-box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
}

#pessoal aside
{
	float: right;
	border: 1px solid #dfa229;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	margin: 1em;
	padding: 1em;
}

#pessoal figure
{
    margin: 0;
}

figcaption
{
    text-align: center;
}

hr
{
    color: #dfa229;
    background-color: #dfa229;
    height: 1px;
}

footer
{
	text-align: center;
}

#logos img
{
    height: 32px;
    margin: 2px;
}

del
{
    text-decoration:line-through
}

/* Forms */
ul.errorlist
{
    margin: 0;
    padding: 0;
}

.errorlist li
{
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.icone-sprite, .icone-camera, .icone-facebook, .icone-github,
.icone-gplus, .icone-lastfm, .icone-linkedin, .icone-rss, .icone-twitter,
.icone-youtube
{
  background: url('/static/images/icones.png') no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.icone-camera {
  background-position: 0 0;
}

.icone-facebook {
  background-position: 0 -448px;
}

.icone-github {
  background-position: 0 -512px;
}

.icone-gplus {
  background-position: 0 -320px;
}

.icone-lastfm {
  background-position: 0 -192px;
}

.icone-linkedin {
  background-position: 0 -256px;
}

.icone-rss {
  background-position: 0 -64px;
}

.icone-twitter {
  background-position: 0 -384px;
}

.icone-youtube {
  background-position: 0 -128px;
}
