html, button, input, select, textarea
{
    font-family: sans-serif; color: #222;
}

/* Selecao em laranja */
::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection { background: #f16529; color: #fff; text-shadow: none; }

body
{
	background-color: #FFF;
	color: #111;
	font-size: 90%;
    padding: 8%;
}

header h1
{
	color: #dfa229;
	font-size: 380%;
	text-align: center;
	border-bottom: 1px solid #dfa229;
}

/* ribbon em baixo
header h4
{
	color: #F47D31;
    overflow: hidden;
    position: fixed;
    bottom: 3em;
    left: -4em;
    text-align: center;
    padding: 0.4em 6em;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);

    -webkit-box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
}
*/

header h4
{
	color: #F47D31;
    overflow: hidden;
    position: absolute;
    top: 5.5em;
    left: -5em;
    text-align: center;
    padding: 0.4em 7em 0.4em 6em;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);

    -webkit-box-shadow: 0 0 2em #888;
    -moz-box-shadow: 0 0 2em #888;
}

#pessoal aside
{
	float: right;
	border: 1px solid #dfa229;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	margin: 1em;
	padding: 1em;
}

#pessoal figure
{
    margin: 0;
}

figcaption
{
    text-align: center;
}

hr
{
    color: #dfa229;
    background-color: #dfa229;
    height: 1px;
}

footer
{
	text-align: center;
}

/* Forms */
ul.errorlist
{
    margin: 0;
    padding: 0;
}

.errorlist li
{
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
