{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}IRA{% endblock %}

{% block header %}
<header>
    <h1>IRA</h1>
    <h4>{% trans "Calculate your IRA!" %}</h4>
</header>
{% endblock %}

{% block content %}

{% if errors %}
<br>
<h5>{% trans "Correct the following erros and try again:"</h5>
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor%}
</ul>
{% endif %}

<div class="row-fluid">
    <div class="span6">
        <h4>Login:</h4>
        <form class="well" name="dados" method="post" action="/ira/login/">{% csrf_token %}
            <label>RA:</label>
            <input type="number" name="ra" min="100000" max="999999" autofocus
            required placeholder="{% trans "Your RA" %}">

            <label>Senha:</label>
            <input type="password" name="senha" size="20" required
            placeholder="{% trans "ProGrad Web password" %}">
            <br>
            <input class="btn btn-primary" type="submit" name="login" value="Login">
        </form>
    </div>

    <div class="span6">
        <h4>HTML Upload</h4>
        <form class="well" name="html" method="post" action="/ira/html_up/">{% csrf_token %}
            <textarea name="hist_html"></textarea>
            <br>
            <input class="btn btn-primary" type="submit" name="html_up" value="Send">
        </form>
    </div>
</div>

<div class="row-fluid">
    <ul>
        <li>{% trans "Application under development!" %}
        <li>{% blocktrans %}It's necessary to provide your RA and the password
        you use on ProgradWeb so I can analyse your academic records.{% endblocktrans %}
        <li>{% blocktrans %}Even though I garantee that I won't store your
        password or any other information, this website doesn't utilize SSL
        encryption, therefore using it in unknown networks might be insecure.
        {% endblocktrans %}
        <li>{% blocktrans %}Use at your own risk. I can't be responsible, in
        any way at all, for any problem related to your ProGrad Web account. I
        don't even assure that the calculations are correct. Do not rely upon
        the results.{% endblocktrans %}
        <li>{% trans "Calculated (a little) based on" %} <a
            href="http://www.ufscar.br/graduacao/regulamento.php">Portaria GR
            Nº 682/99, de 26 de abril de 1999</a>.
    </ul>
</div>

{% endblock %}
