{% load i18n %}

<h5>{% trans "Select the emphasis:" %}</h5>
<form class="well form-inline" name="enfase_form" method="post" action="">{% csrf_token %}
    <select name="enfase_opt" style="width: 300px">
        {% for enfase in enfases %}
        <option value='{{ enfase.url }}'>{{ enfase.nome }}</option>
        {% endfor%}
    </select>
    <input type="hidden" name="ra" value="{{ ra }}">
    <input type="hidden" name="senha" value="{{ senha }}">
    <input class="btn btn-primary" type="submit" name="login" value="{% trans "Submit" %}">
</form>
