{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block header %}
<header>
    <h1>Contato</h1>
    <h4>Entre em contato</h4>
</header>
{% endblock %}

{% block content %}
<form action="/contato/" method="post">
    <p>Assunto:
    <input type="text" name="assunto"></p>
    <p>Seu email (opcional):
    <input type="text" name="email"></p>
    <p>Mensagem:
    <textarea name="mensagem" rows="10" cols="50"></textarea></p>
    <input type="submit" value="Enviar">
</form>
{% endblock %}
