{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}Julio Batista Silva - Homepage{% endblock %}

{% block header %}
<header>
    <h1>Julio Batista Silva</h1>
    <h4>{% trans "Welcome" %}</h4>
</header>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <nav class="well sidebar-nav span3">
        <ul class="nav nav-list">
            <li class="nav-header">Menu
            <li><a href="/projetos/" title="{% trans 'Projects' %}">
                <i class="icon-arrow-right"></i> {% trans 'Projects' %}</a>
            <li><a href="http://blog.juliobs.com/" title="{% trans 'Blog' %}">
                <i class="icon-pencil"></i> {% trans 'Blog' %}</a>
            <li><a href="/gallery/" title="{% trans 'Photos' %}">
                <i class="icon-camera"></i> {% trans 'Photos' %}</a>
            <li><a href='/pgp/' title="{% trans 'Public Key' %}">
                <i class="icon-lock"></i> {% trans 'Public Key' %}</a>
            <li><a href='/qrcode/' title='QR Code'>
                <i class="icon-qrcode"></i> {% trans 'QR Code' %}</a>
            <li><a href='/horario/' title="{% trans 'Timetable' %}">
                <i class="icon-calendar"></i> {% trans 'Timetable' %}</a>
            <li><a href='/stuff-i-use/' title="{% trans 'Stuff I Use' %}">
                <i class="icon-arrow-right"></i> {% trans 'Stuff I Use' %}</a>
            <li><a href='/music_library/' title="{% trans 'Music Lib' %}">
                <i class="icon-music"></i> {% trans 'Music Lib' %}</a>
            <li><a href='/contato/' title="{% trans 'Contact' %}">
                <i class="icon-envelope"></i> {% trans 'Contact' %}</a>
        </ul>
    </nav>

    <article class="span9" id="pessoal">
        <h2>{% trans 'About me' %}</h2>
        <aside id="foto">
            <figure id="minhafoto">
                <img src="{% static "images/julio.jpg" %}" width="100" height="100" alt="Julio" />
                <figcaption>Julio</figcaption>
            </figure>
        </aside>

        <p>{% blocktrans %}Julio Batista Silva, born in São José dos Campos - SP, graduated in
        2008 from <a href="http://colegioembraer.com.br/">Embraer Juarez Wanderley 
            High School</a> and now studies Computer Engineering at <a
            href="http://www.ufscar.br/">Federal University of São Carlos
            (UFSCar)</a>.{% endblocktrans %}</p>

        <br><br>
        <p>{% trans 'For more information, visit:' %}</p>
        <ul>
            <li><a href="http://juliobs.com/blog">Blog</a>
            <li><a href="http://www.facebook.com/profile.php?id=1075455928">Facebook</a>
            <li><a href="http://www.flickr.com/photos/jbsilva/">Flickr</a>
            <li><a href="https://github.com/jbsilva">Github</a>
            <li><a href="https://plus.google.com/116773273318937618516">Google+</a>
            <li><a href="http://www.lastfm.com.br/user/julioforus">Last.fm</a>
            <li><a href="http://twitter.com/9jb">Twitter</a>
            <li><a href="http://www.youtube.com/user/Julioforus">Youtube</a>
        </ul>
    </article>
</div>
{% endblock %}
