{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Horário{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/horario.css" %}">
{% endblock %}

{% block header %}
<header>
    <h1>Horário</h1>
    <h4>Semestre tenso</h4>
</header>
{% endblock %}
{% block content %}
<table id="horario">
    <thead>
		<tr>
			<th><br></th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
		</tr>
    </thead>
	<tbody>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>8 – 10</b></td>
            <td></td>                                      {# Disc. 2a 08-10 #}
			<td>Banco de Dados - 025216 C</td>             {# Disc. 3a 08-10 #}
			<td>Microcontroladores - 27278 A</td>          {# Disc. 4a 08-10 #}
			<td>SO2 - 021288 A</td>                        {# Disc. 5a 08-10 #}
			<td>Computação Gráfica - 025526 C</td>         {# Disc. 6a 08-10 #}
		</tr>
		<tr class="clara">
            <td><br></td>                                  {# Prof. 2a 08-10 #}
            <td><br></td>                                  {# Prof. 3a 08-10 #}
			<td><br></td>                                  {# Prof. 4a 08-10 #}
            <td><br></td>                                  {# Prof. 5a 08-10 #}
            <td><br></td>                                  {# Prof. 6a 08-10 #}
		</tr>
		<tr class="clara">
            <td><br></td>                                 {# Predio 2a 08-10 #}
            <td><br></td>                                 {# Predio 3a 08-10 #}
			<td><br></td>                                 {# Predio 4a 08-10 #}
            <td><br></td>                                 {# Predio 5a 08-10 #}
            <td><br></td>                                 {# Predio 6a 08-10 #}
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>10 – 12</b></td>
            <td><br></td>                                  {# Disc. 2a 10-12 #}
            <td>Banco de Dados - 025216 C</td>             {# Disc. 3a 10-12 #}
            <td>Microcontroladores - 27278 A</td>          {# Disc. 4a 10-12 #}
            <td>SO2 - 021288 A</td>                        {# Disc. 5a 10-12 #}
            <td>Computação Gráfica - 025526 C</td>         {# Disc. 6a 10-12 #}
		</tr>                                                               
		<tr class="escura">                                                 
            <td><br></td>                                  {# Prof. 2a 10-12 #}
            <td><br></td>                                  {# Prof. 3a 10-12 #}
            <td><br></td>                                  {# Prof. 4a 10-12 #}
            <td><br></td>                                  {# Prof. 5a 10-12 #}
            <td><br></td>                                  {# Prof. 6a 10-12 #}
		</tr>                                                               
		<tr class="escura">                                                 
            <td><br></td>                                 {# Predio 2a 10-12 #}
            <td><br></td>                                 {# Predio 3a 10-12 #}
            <td><br></td>                                 {# Predio 4a 10-12 #}
            <td><br></td>                                 {# Predio 5a 10-12 #}
            <td><br></td>                                 {# Predio 6a 10-12 #}
		</tr>
		<tr>
			<td colspan=6>Almoço</td>
			</tr>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>14 – 16</b></td>
            <td>Inteligência Artificial - 022705 A</td>    {# Disc. 2a 14-16 #}
            <td>Cálculo 2 - 089206 A</td>                  {# Disc. 3a 14-16 #}
            <td>Análise de Investimentos - 110159</td>     {# Disc. 4a 14-16 #}
            <td>Cálculo 2 - 089206 A</td>                  {# Disc. 5a 14-16 #}
            <td><br></td>                                  {# Disc. 6a 14-16 #}
		</tr>                                                                
		<tr class="clara">                                                   
            <td><br></td>                                  {# Prof. 2a 14-16 #}
            <td><br></td>                                  {# Prof. 3a 14-16 #}
            <td><br></td>                                  {# Prof. 4a 14-16 #}
            <td><br></td>                                  {# Prof. 5a 14-16 #}
            <td><br></td>                                  {# Prof. 6a 14-16 #}
		</tr>                                                        
		<tr class="clara">                                           
            <td><br></td>                                 {# Predio 2a 14-16 #}
            <td><br></td>                                 {# Predio 3a 14-16 #}
            <td><br></td>                                 {# Predio 4a 14-16 #}
            <td><br></td>                                 {# Predio 5a 14-16 #}
            <td><br></td>                                 {# Predio 6a 14-16 #}
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>16 – 18</b></td>
            <td>Inteligência Artificial - 022705 A</td>    {# Disc. 2a 16-18 #}
            <td><br></td>                                  {# Disc. 3a 16-18 #}
			<td>Lab Microcontroladores - 027286 B</td>     {# Disc. 4a 16-18 #}
			<td><br></td>                                  {# Disc. 5a 16-18 #}
            <td><br></td>                                  {# Disc. 6a 16-18 #}
		</tr>                                                                 
		<tr class="escura">                                                   
            <td><br></td>                                  {# Prof. 2a 16-18 #}
            <td><br></td>                                  {# Prof. 3a 16-18 #}
			<td><br></td>                                  {# Prof. 4a 16-18 #}
			<td><br></td>                                  {# Prof. 5a 16-18 #}
            <td><br></td>                                  {# Prof. 6a 16-18 #}
		</tr>                                                                 
		<tr class="escura">                                                   
            <td><br></td>                                 {# Predio 2a 16-18 #}
            <td><br></td>                                 {# Predio 3a 16-18 #}
			<td><br></td>                                 {# Predio 4a 16-18 #}
			<td><br></td>                                 {# Predio 5a 16-18 #}
            <td><br></td>                                 {# Predio 6a 16-18 #}
		</tr>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>19 – 21</b></td>
			<td><br></td>                                  {# Disc. 2a 19-21 #}
			<td><br></td>                                  {# Disc. 3a 19-21 #}
			<td><br></td>                                  {# Disc. 4a 19-21 #}
			<td><br></td>                                  {# Disc. 5a 19-21 #}
			<td><br></td>                                  {# Disc. 6a 19-21 #}
		</tr>                                                               
		<tr class="clara">                                                  
			<td><br></td>                                  {# Prof. 2a 19-21 #}
			<td><br></td>                                  {# Prof. 3a 19-21 #}
			<td><br></td>                                  {# Prof. 4a 19-21 #}
			<td><br></td>                                  {# Prof. 5a 19-21 #}
			<td><br></td>                                  {# Prof. 6a 19-21 #}
		</tr>                                                               
		<tr class="clara">                                                  
			<td><br></td>                                 {# Predio 2a 19-21 #}
			<td><br></td>                                 {# Predio 3a 19-21 #}
			<td><br></td>                                 {# Predio 4a 19-21 #}
			<td><br></td>                                 {# Predio 5a 19-21 #}
			<td><br></td>                                 {# Predio 6a 19-21 #}
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>21 – 23</b></td>
			<td><br></td>                                  {# Disc. 2a 21-23 #}
			<td><br></td>                                  {# Disc. 3a 21-23 #}
			<td><br></td>                                  {# Disc. 4a 21-23 #}
			<td><br></td>                                  {# Disc. 5a 21-23 #}
			<td><br></td>                                  {# Disc. 6a 21-23 #}
		</tr>                                                                     
		<tr class="escura">                                                       
			<td><br></td>                                  {# Prof. 2a 21-23 #}
			<td><br></td>                                  {# Prof. 3a 21-23 #}
			<td><br></td>                                  {# Prof. 4a 21-23 #}
			<td><br></td>                                  {# Prof. 5a 21-23 #}
			<td><br></td>                                  {# Prof. 6a 21-23 #}
		</tr>                                                                     
		<tr class="escura">                                                       
			<td><br></td>                                 {# Predio 2a 21-23 #}
			<td><br></td>                                 {# Predio 3a 21-23 #}
			<td><br></td>                                 {# Predio 4a 21-23 #}
			<td><br></td>                                 {# Predio 5a 21-23 #}
			<td><br></td>                                 {# Predio 6a 21-23 #}
		</tr>
	</tbody>
</table>
{% endblock %}
