{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Horário{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/horario.css" %}">
{% endblock %}

{% block header %}
<header>
    <h1>Horário</h1>
    <h4>Semestre tenso</h4>
</header>
{% endblock %}
{% block content %}
<table id="horario">
    <thead>
		<tr>
			<th><br></th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
		</tr>
    </thead>
	<tbody>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>8 – 10</b></td>
			<td>Tecnologia e Sociedade - 370223 A</td>
			<td>Fen. Transp - 102130 A</td>
			<td><br></td>
			<td>Eng. Software 2 - 025674 C</td>
			<td>Física 3 - 099031 B</td>
		</tr>
		<tr class="clara">
			<td>Norma Valencio</td>
			<td>Adriana Paula Ferreira</td>
			<td><br></td>
			<td>Delano Beder</td>
			<td>Hamilton Viana Da Silveira</td>
		</tr>
		<tr class="clara">
			<td>AT2 – 28</td>
			<td>AT5 – 113</td>
			<td><br></td>
			<td>AT9 – 214</td>
			<td>AT7 – 172</td>
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>10 – 12</b></td>
			<td>Tecnologia e Sociedade - 370223 A</td>
			<td>Fen. Transp - 102130 A</td>
			<td>Cálculo 3 - 089303 C</td>
			<td>Eng. Software 2 - 025674 C</td>
			<td>Cálculo 3 – 089303 C</td>
		</tr>
		<tr class="escura">
			<td>Norma Valencio</td>
			<td>Adriana Paula Ferreira</td>
			<td>Waldeck Schutzer</td>
			<td>Delano Beder</td>
			<td>Waldeck Schutzer</td>
		</tr>
		<tr class="escura">
			<td>AT2 – 28</td>
			<td>AT5 – 113</td>
			<td>AT4 – 67</td>
			<td>AT9 – 214</td>
			<td>AT4 – 67</td>
		</tr>
		<tr>
			<td colspan=6>Almoço</td>
			</tr>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>14 – 16</b></td>
			<td>SO 1 - 021270 A</td>
			<td>Dev. Web - 020680 B</td>
			<td>Física 3 - 099031 B</td>
			<td>Mec. Aplicada - 120030 E</td>
			<td>Tópicos 4 (ouvinte)</td>
		</tr>
		<tr class="clara">
			<td>Célio Moron</td>
			<td>Delano Beder</td>
			<td>Hamilton Viana Da Silveira</td>
			<td>Wanderson Maia</td>
			<td>César Marcondes</td>
		</tr>
		<tr class="clara">
			<td>AT9 – 213</td>
			<td>AT9 – 212</td>
			<td>AT7 – 173</td>
			<td>AT5 – 97</td>
			<td>AT7 - 176?</td>
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>16 – 18</b></td>
			<td>SO 1 - 021270 A</td>
			<td>Dev. Web - 020680 B</td>
			<td><br></td>
			<td><br></td>
			<td>Tópicos 4 (ouvinte)</td>
		</tr>
		<tr class="escura">
			<td>Celio Moron</td>
			<td>Delano Beder</td>
			<td><br></td>
			<td><br></td>
			<td>César Marcondes</td>
		</tr>
		<tr class="escura">
			<td>AT9 – 213</td>
			<td>AT9 – 212</td>
			<td><br></td>
			<td><br></td>
			<td>AT7 - 176?</td>
		</tr>
		<tr class="clara">
			<td rowspan=3 class="horas"><b>19 – 21</b></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		<tr class="clara">
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		<tr class="clara">
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		<tr class="escura">
			<td rowspan=3 class="horas"><b>21 – 23</b></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		<tr class="escura">
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
		<tr class="escura">
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
			<td><br></td>
		</tr>
	</tbody>
</table>
{% endblock %}
