{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block header %}
<header>
    <h1>{% trans "Projects" %}</h1>
    <h4>{% trans "FOSS" %}</h4>
</header>
{% endblock %}

{% block content %}
<br>
<ul>
    <ul>
        <li><p>{% blocktrans %}Here you can find some of my simplest codes. For
        more projects, take a look at my <a href="https://github.com/jbsilva">Github</a>.{% endblocktrans %}</p>
    </ul>

    <br>
    <li><h3>Dotfiles</h3>
    <ul>
        <li><a href="https://github.com/jbsilva/dotfiles">Github</a>
    </ul>

    <br>
    <li><h3>Sites</h3>
    <ul>
        {% for site in sites|dictsort:"nome" %}
        <li><a href="{{ site.link }}">{{ site.nome }}</a>
        {% endfor %}
    </ul>

    <br>
    <li><h3>{% trans "Programs" %}</h3>
    <ul>
        {% regroup programas|dictsort:"linguagem" by linguagem as linguagens %}

        {% for linguagem in linguagens %}
        <li><h4>{{ linguagem.grouper }}</h4>
        <ul>
            {% for programa in linguagem.list|dictsort:"nome" %}
            <li><a href="{{ programa.link }}">{{ programa.nome }}</a>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
