{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/uva.css" %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/uva.js" %}"></script>
{% endblock %}

{% block header %}
<header>
    <h1>{% trans "Projects" %}</h1>
    <h4>{% trans "FOSS" %}</h4>
</header>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <blockquote class="pull-right well span8">
        <p>The circumstance which gives authors an advantage above all great
        artists is that they can [...] make copies of their works to what number
        they please, which shall be as valuable as the originals themselves.</p>
        <small>Joseph Addison, 1660</small>
    </blockquote>
</div>

<div class="row-fluid">
    <ul>
        <ul>
            <li><p>{% blocktrans %}Here you can find some of my simplest codes. For
            more projects, take a look at my <a href="https://github.com/jbsilva">Github</a>.{% endblocktrans %}</p>
        </ul>

        <br>
        <li><h3>Dotfiles</h3>
        <ul>
            <li><a href="https://github.com/jbsilva/dotfiles">Github</a>
        </ul>

        <br>
        <li><h3>Contests</h3>
        <ul>
            <a href="https://projecteuler.net/progress=jbsilva">
                <img src="https://projecteuler.net/profile/jbsilva.png"
                alt="Project Euler" title="Project Euler"></a>

            <a class="uvastats" href="https://github.com/jbsilva/Maratona-ICPC/tree/master/UVa">
                <span class="stats username">no bot</span>
                <span class="stats accepted"><span class="problems">no bot</span> accepted</span>
            </a>

            <li><a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_authorstats&userid=92440">UVa</a>
            <li><a href="http://www.urionlinejudge.com.br/urionlinejudge/ranks/profile/1180">URI</a>
            <li><a href="http://br.spoj.pl/users/jbsilva/">SPOJ BR</a>
            <li><a href="http://www.spoj.pl/users/jbsilva/">SPOJ</a>
            <li><a href="https://projecteuler.net/progress=jbsilva">Project Euler</a>
            <li><a href="http://rosalind.info/users/jbsilva/">Rosalind</a>
            <li><a href="https://community.topcoder.com/tc?module=MemberProfile&cr=23001096">Top Coder</a>
        </ul>

        <br>
        <li><h3>Sites</h3>
        <ul>
            {% for site in sites|dictsort:"nome" %}
            <li><a href="{{ site.link }}">{{ site.nome }}</a>
            {% endfor %}
        </ul>

        <br>
        <li><h3>{% trans "Programs" %}</h3>
        <ul>
            {% regroup programas|dictsort:"linguagem" by linguagem as linguagens %}

            {% for linguagem in linguagens %}
            <li><h4>{{ linguagem.grouper }}</h4>
            <ul>
                {% for programa in linguagem.list|dictsort:"nome" %}
                <li><a href="{{ programa.link }}">{{ programa.nome }}</a>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </ul>
</div>

<hr>
<a href="http://programming-motherfucker.com/">The Motherfucking Manifesto For Programming, Motherfuckers</a>

{% endblock %}
