{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}PGP Public Key{% endblock %}

{% block header %}
<header>
<h1>{% trans "My PGP Public Key" %}</h1>
    <h4>PGP Public Key</h4>
</header>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span4">
        <p>{% trans "Use the following public key to send me private emails or files:" %}</p>
        <br>
        <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2.0.19 (GNU/Linux)

mQINBE/VJGgBEADukU6GXqMKaAtYpA15Uv9ZT6xzU8Skz9/v8KhxBcXB5L6mt3yc
x6A45c9Id+6tmhqyqHlDX/TkTYp82mtEkxfkZ022GL6GT11Wxp+RomI1R5sADdTn
8cRBZovBEOdUWGWAr3BDYewTuwoNhWXTXxBtzz9BVGa09ulmMwtVuYqhJbKuhyar
Wceo6C5TawL4cY/6uG49U5adi/R5ZtIhO/giFEGkwM7tRYgq0JhxI22BKmvANLzt
DbXIh6uQAW4XGpLXLMt49Te4wJymvpE/yXh6DyK03dKtyu8aJbH5nAQiayZy3iD+
eqVbx6UXUtpSsrjaq2vuZhvxDRDEx7Kz7ipzFfqT3S0KBbGhnqUkEo3J1pPTp8Au
tdlvUxjNkGuBXq2uHYUcfNHRTv+143L59vW+nwaa1DCIe+CPVLK4VkBJ6nnUG+ks
cw1ocABWpUgUZ0IArgVOCLVi83oTM41XzfBqRj3csCLzI8WdB0+kyyPMohWFtxS/
MJ6+Nfy8hQFY9bapcnP4m6rzysY4CZr85IqyLx9IF+nD1dMakfAdrh56aQQxjNkh
ne/suqNkHAEspj94uOYHFWrsy2V9k+VlDNrW0cZ9MErx2RLGK6PhO+yqneqwwtnl
5Usa/mA8NXfiZ/gqqq0L9ucBTANb2yDU8dBO4QevLTTBU2k609a9FP21PwARAQAB
tCdKdWxpbyBCYXRpc3RhIFNpbHZhIDxqdWxpb0BqdWxpb2JzLmNvbT6JAjgEEwEC
ACIFAk/VJGgCGwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJED19mLl9GeQ3
Q+QP/RCgFAXXbi3L0QlGOnL3ScKOUV8hFiaOAIXMIzx+mu2yZCQnSjFceG8bTy3k
OcCwYihXNdWe3OX64YlwqCwrz1er/HncgcfywoBTLQrV1z01kV/7oTHwF91lZXwL
eP3d/HEF7mdG7UjVLd6kCQ+KAY2hrCYeq7/SdBoKZpvzQs/oJ69Szezdkqzpj9ZQ
WQ6OT5yksvKb4z7uumJSlQRZVrXhyES0feDkn/dLK/TzpS3SgQAiBpiyX1b6YEQi
qA65b0S6+IhRs74KRLHlSV8T9rciTGeqQC0hJNTyeIed9zMpSkCxcgH+5qW+GE1f
7XdS5itOM55P265imtiT68neo8GQEvI4Z2TWzWUMdpJTpXLjJwdMb6K9yhl0qVm0
z5incsp6QqiaCJpr+cdJNJkL6JU3BSl2zcxLSDWmjmKxQbNAbAx3cMvyNZdSkZ46
vFRharLMvbL/Wz/A0AZxYCohJKeCoyTQiuhTYTYme4C384Hy405TE5pomsnpX8BC
iLWB+OkJNZPn4CmpEDnT2oQrOc+i5b4FPgsrJ+DGRud2b59aXD1a7E9qh1c8+Xpj
AIs4PwRzVTql+yGAI4l5Xz6BV7otNioeVPPiSQDynWxwG1Fv92TuRJqA0ws/qrap
Jab282p4TZt3KiWEwAU5h4m7LJC+00nC8WIxfJxcJaq3rtK2uQINBE/VJGgBEADO
XYFDrmNYbt47p6IGRLsRK1Y/PNQ5Be/ArqF0NNr/Tq6lSyfLvp8tMjKmecUPRCSQ
LOwNHsqTkF+Gkyl1yu+CwiszZqtzamy3bbK2Q1Zyq/aOfgobUy9B+I+fE2v3RnSh
vNwDge9/M83iyjCBzpStLsw0aXW9MISgmVdibmSVkeMJ00QPeG89XBnCaosRmI2R
LOMJjsUdvk9CW9dV6FrMTpsIsD3WaY6dHbQkdko1uS3VWi6sB5FPfltleXY7e+6M
NTUEZVDgiCM2lMxntAC+BUDlntDs5HKZyQlm2Ynap6tap9kl/ReY965VXi20GFgk
IRhAlUNAEMvd4kJPJWMkO4oOoR3/OSVhrYxbXkxcI3czJb2HEvYjgutndXpp0R5V
SxhX2CXUnIi5b9+rWQ+TTYpNJszzMpUr41Yc/+IRZX9SeE5DaMdP50D/sQ9r9+Ym
rFlP2pbUFRtP11RYR7imeADiIfgNiN9OXw2ragIyFrv6nHJkOIuw8MIX0b9m9RKQ
YIYArRw/cZZSyXycMUBuDVlMWB4LemWelOBjOVTnL7D3ySsNLk76gH1hdfBuXxwO
bL1rh1sCxxoteYs1lBqz++xMkkTl24+F/alu3Sz0JvmZ9bjR1R3NTppRnTGaCEez
8Y77u9DuTsjpRGuqJAr4BIMIsixhzRhK4FBlkSQOWwARAQABiQIfBBgBAgAJBQJP
1SRoAhsMAAoJED19mLl9GeQ3PnMP/1iOrUIm/QZCbmQQdn32/oxs5Cg8gLO3m4tf
6OSdqtUOpKNvcK/hXEWkPyzVigv11bpCjpsQEBpd0QDvCsOZPm/vFpSY0RFgsQ4s
ljDrgEtvSseowV1C58DVNv4KjQ4tlyfvl4LyEut36DuPTJfSca2ab5UOmOCmc+2O
Yhb6NAa3fAh/Lnm/HEzVFPTrHfwaNLPIaWsM0AZ/ZeB67eVqVCcy10falmI3vOhO
LjWiZYtqbG0WkiD+yg8ZbwIUGRE4JKOAdgGOuELHsKIBKXgcLhnJoMOPu3+qJOzJ
w1PP4fvZoFgDhwT+0jJwsAUz0nwpoKXiIp9UL+n+mTcEMo3pvtkD+RHMiUJnzAQN
ApG/c1LnfFQs0RKX36iMTAEFeZHIbl366Daqz9ITzdv3lOQvvYnmpT4vO0vu7dAi
0R6uLIFTF5qJ+a7U7yugxqM7B1/iO2xNHxm3gwXLKtwktncZ80rukNpZCsPLvm/j
MzCrcSDxcPxzN6KrrLPR8oLoDHDSWCLL9TnwfDuWFA0EjM77v+4+6OJXP76x+682
+SzNP/C4j4yYdNrkvzh8GGadPaqS6EI3DGvju47ffza5XTLBUgJthyUAB36/rpw8
CareudnzEN4yBOfN/Vq8gKhc776UdUCxFrw9+4pi/UawGHIieu91fhZS5t5ZFPtt
tU5jnZ7L
=vgt/
-----END PGP PUBLIC KEY BLOCK-----</pre>
    </div>
</div>

<div class="row-fluid">
    <a href="{% static "juliopub.asc" %}"><h3>Download</h3></a>
</div>
{% endblock %}
