{% extends "base.html" %}

{% block title %}Torrents{% endblock %}

{% block header %}
<header>
    <h1>Torrents</h1>
    <h4>Limite os Torrents</h4>
</header>
{% endblock %}

{% block content %}
    {% if errors %}
    <h3>Falha na conexão</h3>
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor%}
    </ul>
    {% else %}
    <h5>Velocidade Atual:</h5>
    <ul>
        <li>Upload: {{ up }} kB/s
        <li>Download: {{ down }} kB/s
    </ul>
    <br>
    <h5>Alterar velocidade:</h5>
    <form name="velocidades" method="post" action="">{% csrf_token %}
        Upload: <input type="number" name="up" min="0" placeholder="Upload"><br>
        Download: <input type="number" name="down" min="0" placeholder="Download"><br>
        Senha: <input type="password" name="senha" size="16"><br>
        <input type="submit" name="login" value="Limitar">
    </form>

    <br><br>
    Observações:
    <ul>
        <li>0 kB/s = ilimitado.
        <li>*DESLIMITEM* quando não precisarem da banda.
        <li>O upload é setado para 0 algumas em horários razoáveis (02:00,
        14:00, 19:00, ...).
    </ul>
    {% endif %}
{% endblock %}
